body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    width: 400px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#output {
    text-align: center;
    margin-top: 20px;
}

p {
    margin: 10px 0;
}

#success-alert {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
}

#error-alert {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    display: none;
}

#history {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20px, 20px);
    z-index: 1;
}

#history h2 {
    color: #fff;
    margin-bottom: 10px;
}

#historyList {
    list-style-type: none;
    padding: 0;
}

#historyList li {
    margin: 10px 0;
}

#historyList li:first-child {
    border-top: none;
}

#monteCarloValue {
    color: #007BFF;
    font-weight: bold;
}
